<h1>Case</h1>

<%= @case.client %><br>
<%= @case.casename %><br>
<%= @case.loan_number %><br>
<%= @case.case_number %><br>
<%= @case.referral_date %><br>
<%= @case.referral_type %><br>
<%= @case.chapter %><br>

</br>
<a href="/entry">New Entry</a></br>
<a href="/">View Master</a>